{% extends "AppFinal/padre.html" %} 

{% load static %}

{% block titulo %}
<p>Acerca de MI.</p>
{{mensaje}}
{% endblock %}

{% block descripcion %} 
<p>Soy Luis Bladimir Rios Acevedo, soy Venezolano desde hace 6 año vivo en Buenos Aires Argentina. 
    <br>Mis estudios Universitarios son Tecnico en Contabilidad de Costos y Contaduria Publica. 
    <br>
    <p>En este mundo actual y de constantes cambios en todos los aspectos, dedici dar un giro a mi carrera profesional 
    lo que me llevo actualmente a dar mis primeros pasos en el mundo de la programacion, con enfoque principalmente en el Back-end,
    el siguiente paso es conocer un poco de otros framework para complementar los conocimientos y mantener una linea ascedente de aprendizade.<p>
    
    <br>Contacto:
        <p>luisbriosa@gmail.com<p>
            <p>+58 9 11 6836 8598.<p>
    
</p>
{% endblock %} 
